web/static/
.idea
Pip*
Pipfile*
__pycache__/
.idea/
celerybeat*
.local/
*.log
.ash_history
.coverage
.cache
install_docker.sh

web/media/icon/*
!web/media/icon/default.jpg
!web/media/theme/default.jpg
web/media/sound
web/locale/*
venv
